<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="{{ time_remaining }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Currently Playing</title>
  </head>
  <body>
    <div class="container">
      <h1>Currently playing: {{ track }} by {{ artist }}</h1>
      <p>Album: {{ album }}</p>
      <p>
        Progress: {{ progress_minutes }}:{% if progress_seconds < 10 %}0{% endif
        %}{{ progress_seconds }} / {{ total_minutes }}:{% if total_seconds < 10
        %}0{% endif %}{{ total_seconds }}
      </p>
    </div>
  </body>
</html>
